<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>预约添加 - Nkuvr 后台管理系统</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../css/style.min.css" rel="stylesheet">
    <!--日期选择插件-->
    <link rel="stylesheet" href="../../js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="fragment/_fragment::navbar"></aside>


        <!--头部信息-->
        <header th:replace="fragment/_fragment::sidebar"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>预约向导</h4></div>
                            <div class="card-body">

                                <form action="#" method="post" class="guide-box" data-navigateable="true">
                                    <ul class="nav-step step-dots">
                                        <li class="nav-step-item active">
                                            <span>注意事项</span>
                                            <a class="active" data-toggle="tab" href="#step-1"></a>
                                        </li>

                                        <li class="nav-step-item">
                                            <span>基本信息</span>
                                            <a data-toggle="tab" href="#step-2"></a>
                                        </li>

                                        <li class="nav-step-item">
                                            <span>服务需求</span>
                                            <a data-toggle="tab" href="#step-3"></a>
                                        </li>

                                        <li class="nav-step-item">
                                            <span>时间选择</span>
                                            <a data-toggle="tab" href="#step-4"></a>
                                        </li>

                                        <li class="nav-step-item">
                                            <span>其他信息</span>
                                            <a data-toggle="tab" href="#step-5"></a>
                                        </li>
                                    </ul>
                                    <!--对应内容-->
                                    <div class="nav-step-content">
                                        <div class="nav-step-pane hidden active" id="step-1">
                                            <div class="form-group">
                                                <label>1、所有申请使用创客工坊的公开活动，南萱智能均为协办方，请在所有公开宣传文案，印刷品中列明"协方";<br><br>

                                                    2、场地地址准确表达为:南滨GENSBOX众创空间-创客工坊;<br><br>

                                                    3、场地审批通过后，活动方必须队场地内所有人员的安全进行保障，不得破坏场地内公共设施;<br><br>

                                                    4、本副券由活动负责人持有，活动当天须向工作人员出示副券以使用场地;<br><br>

                                                    5、如需移动场地桌椅、借用服务中心物品请提前告知工作人员，使用后务必物归原主;并请遵守南萱智能所有公示规则;<br><br>

                                                    6、如有违反上述条例，南萱智能团队及南滨GENSBOX众创空间-创客工坊有权要求停止当次使用或拒绝未来同一团体使用地。</label>
                                                <input class="form-control" type="hidden">
                                            </div>
                                        </div>

                                        <div class="nav-step-pane hidden" id="step-2">
                                            <div class="form-group">
                                                <label>活动名称</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>负责人</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>联系方式</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>活动单位</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>拟用区域</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>主讲人或活动邀请领导嘉宾</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>活动描述</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="nav-step-pane hidden" id="step-3">
                                            <div class="form-group">
                                                <label>设备需求</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>消费需求</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>其他需求</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="nav-step-pane hidden" id="step-4">
                                            <div class="form-group">
                                                <div class="card">
                                                    <label>活动时间</label>
                                                    <div class="card-body">
                                                        <input class="form-control js-datepicker m-b-10" type="text"
                                                               id="activityTime" name="activityTime"
                                                               placeholder="yyyy-mm-dd" value=""
                                                               data-date-format="yyyy-mm-dd"/>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="card">
                                                    <label>布场时间</label>
                                                    <div class="card-body">
                                                        <input class="form-control js-datepicker m-b-10" type="text"
                                                               id="setTime" name="setTime"
                                                               placeholder="yyyy-mm-dd" value=""
                                                               data-date-format="yyyy-mm-dd"/>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-step-pane hidden" id="step-5">
                                            <div class="form-group">
                                                <label>工作人员</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>联系方式</label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>指导老师</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <!--End 对应内容-->
                                    <hr>
                                    <div class="nav-step-button">
                                        <button class="btn btn-secondary disabled" data-wizard="prev" type="button">
                                            上一步
                                        </button>
                                        <button class="btn btn-secondary" data-wizard="next" type="button">下一步</button>
                                        <button class="btn btn-primary hidden" data-wizard="finish" type="submit">完成
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../../js/main.min.js"></script>
<!--向导插件-->
<script type="text/javascript" src="../../js/jquery.bootstrap.wizard.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.guide-box').bootstrapWizard({
            'tabClass': 'nav-step',
            'nextSelector': '[data-wizard="next"]',
            'previousSelector': '[data-wizard="prev"]',
            'finishSelector': '[data-wizard="finish"]',
            'onTabClick': function (e, t, i) {
                if (!$('.guide-box').is('[data-navigateable="true"]')) return !1
            },
            'onTabShow': function (e, t, i) {
                t.children(":gt(" + i + ").complete").removeClass("complete");
                t.children(":lt(" + i + "):not(.complete)").addClass("complete");
            },
            'onFinish': function (e, t, i) {
                // 点击完成后处理提交
            }
        });
    });
</script>
<!--日期选择插件-->
<script src="../../js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../../js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../../layer/layer.js"></script>
</body>
</html>