<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<!-- navbar -->
<div id="navbar" class="navbar navbar-defaultace-save-state" th:fragment="navbar">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a th:href="@{/user/userProfile}" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Nkuvr Admin
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" th:src="@{../assets/images/avatars/user.jpg}" alt="Jason's Photo"/>
                        <span class="user-info">
                            欢迎你，
                            <small shiro:principal property="username"></small>
                        </span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        <li>
                            <a th:href="@{/logout}">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- sidebar -->
<div id="sidebar" class="sidebar                  responsive                    ace-save-state" th:fragment="sidebar">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>
    <ul class="nav nav-list">

        <li class="active">
            <a th:href="@{/user/userProfile}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 系统管理 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="" shiro:hasPermission="admin">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> 用户管理 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:href="@{/user/userList}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        用户列表
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> 预约管理 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:href="@{/user/userFormAdd}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        预约申请
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="" shiro:hasPermission="admin">
                    <a th:href="@{/user/userFormList}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        预约列表
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:href="@{/user/userFormSchedule}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        预约进度
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-file-o"></i>

                <span class="menu-text">
								其他页面
                    </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li class="">
                    <a th:href="@{/error/404}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Error 404
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:href="@{/error/500}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Error 500
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:href="@{/error/unAuth}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Unauthorized
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>


<!-- footer -->
<div class="footer" th:fragment="footer">
    <div class="footer-inner">
        <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Nkuvr Admin</span>
							Application &copy; 2019-2020
						</span>

            &nbsp; &nbsp;
            <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
        </div>
    </div>
</div>

</html>