<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>

<!--左侧导航-->
<aside class="lyear-layout-sidebar" th:fragment="sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="/user/index"><img src="../../images/logo-sidebar.png" title="LightYear" alt="LightYear"/></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item"><a href="/user/index"><i class="mdi mdi-home"></i> 后台首页</a></li>


                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i>用户管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="/user/list">用户列表</a></li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 预约管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="/appointment/list">预约列表</a></li>
                            <li><a th:href="@{'/appointment/my/' + ${session.loginUser.id}}">我的预约</a></li>
                        <li><a href="/appointment/add">新增预约</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2020 Nkuvr.com</p>
        </div>
    </div>

</aside>

<!--头部信息-->
<header class="lyear-layout-header" th:fragment="navbar">

    <nav class="navbar navbar-default">
        <div class="topbar">

            <div class="topbar-left">
                <div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                </div>
                <span class="navbar-page-title"> Nkuvr 后台管理系统 </span>
            </div>

            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img class="img-avatar img-avatar-48 m-r-10" src="../../images/users/avatar.jpg" alt="Admin"/>
                        <span th:text="${session.loginUser.studentNumber}"> <span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a th:href="@{'/user/profile/' + ${session.loginUser.id}}"><i class="mdi mdi-account"></i>
                            个人信息</a></li>
                        <li><a th:href="@{'/user/changePassword/' + ${session.loginUser.id}}"><i
                                class="mdi mdi-lock-outline"></i> 修改密码</a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</header>


</body>
</html>