<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
</head>
<body>
<div>
    <h4 th:text="'用户名：' + ${session.loginUser.username}"></h4>
    <a href="/logout">退出登录</a>
    <hr>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>用户名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${pageInfo.list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td>
                <a href="">修改</a>
                <a href="">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>