<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户列表 - Nkuvr 后台管理系统</title>
</head>
<body>
<div th:replace="fragment/_fragment::navbar"></div>
<div th:replace="fragment/_fragment::sidebar"></div>
<div style="text-align: center">
    <table border="1" style="margin: auto; width: 60%;">
        <h3>用户列表</h3>
        <thead>
        <tr>
            <th>Id</th>
            <th>用户名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:each="user : ${pageInfo.list}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <a th:href="@{'/user/edit/' + ${user.id}}">修改</a>
                <a th:href="'javascript:doDelete('+ ${user.id} +')'">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form id="formId" METHOD="post">
    <input type="hidden" name="_method" th:value="DELETE"/>
</form>
<div style="text-align: center">
    <a href="/user/list?page=1"> 首页 </a>
    <a th:if="${pageInfo.hasPreviousPage}" th:href="@{'/user/list?page='+${pageInfo.prePage}}"> 上一页</a>
    <a th:if="${pageInfo.hasNextPage}" th:href="@{'/user/list?page='+${pageInfo.nextPage}}"> 下一页</a>
    <a th:href="@{'/user/list?page='+${pageInfo.pages}}"> 尾页</a><br>
    <br>
    <span th:text="'当前第 ' + ${pageInfo.pageNum} + ' 页 | '"></span>
    <span th:text="'共 '+${pageInfo.pages}+' 页'"></span>
</div>
<div th:replace="fragment/_fragment::footer"></div>
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
<script src="../../layer/layer.js"></script>
<script>
    function doDelete(id) {
        layer.confirm("确认删除该用户吗？", {btn: ['确认', '取消']}, function (cindex) {
            $.ajax({
                type: "post",
                url: "/user/delete/" + id,
                data: {
                    "id": id
                },
                success: function (result) {
                    if (result.success) {
                        // 删除成功
                        layer.msg("删除成功", {time: 1000, icon: 6});
                        window.location.href = "/user/list";
                    } else {
                        // 删除失败
                        layer.msg("删除失败，请重新操作", {time: 1000, icon: 5, shift: 6});
                    }
                }
            });
            layer.close(cindex);
        }, function (cindex) {
            layer.close(cindex);
        });
    }
</script>
</body>
</html>