<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nkuvr 后台管理系统</title>
</head>
<body>
<div th:replace="fragment/_fragment::navbar"></div>
<div th:replace="fragment/_fragment::sidebar"></div>
<div class="login" style="text-align: center">
    <form>
        <h3>用户信息修改</h3>
        <input type="hidden" id="id" name="id" th:value="${userInfo.id}">
        <table>
            <label for="username"></label><input id="username" name="username" type="text"
                                                 th:value="${userInfo.username}"/><br>
            <label for="password"></label><input id="password" name="password" type="text"
                                                 th:value="${userInfo.password}"/><br>
            <a href="javascript:void(0);" onclick="return doEdit();">更新</a>
        </table>
    </form>
</div>
<div th:replace="fragment/_fragment::footer"></div>

<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
<script src="../../layer/layer.js"></script>
<script type="text/javascript">
    function doEdit() {
        var id = $('#id').val();
        var username = $('#username').val();
        var password = $('#password').val();
        var loadingIndex = null;

        if (username === "") {
            layer.msg("用户名不能为空，请输入!", {time: 1000, icon: 5, shift: 6});
            return;
        }
        if (password === "") {
            layer.msg("密码不能为空，请输入!", {time: 1000, icon: 5, shift: 6});
            return;
        }
        $.ajax({
            type: "post",
            url: "/user/edit",
            async: false,
            dataType: "json",
            data: {
                "id": id,
                "username": username,
                "password": password
            },
            beforeSend: function () {
                loadingIndex = layer.msg("处理中", {icon: 16});
            },
            success: function (result) {
                layer.close(loadingIndex);
                if (result.success) {
                    layer.msg("用户信息修改成功", {time: 1000, icon: 6})
                    window.location.href = "/user/list";
                } else {
                    layer.msg("用户信息修改失败，请重新操作", {time: 1000, icon: 5, shift: 6});
                }
            }
        });
    }
</script>
</body>
</html>