<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404页面</title>
    <link th:href="@{../assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{../assets/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{../assets/css/style.min.css}" rel="stylesheet">
    <base target="_self">
</head>
<body>
<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3> 页面未能够找到！! !</h3>
    <div>
        抱歉，页面好像去火星啦！
        <form class="form-inline m-t" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入你需要查找的内容..."/>
            </div>
            <button type="submit" class=" btn btn-primary">搜索</button>
        </form>
    </div>
</div>

<script th:src="@{../assets/js/jquery.min.js}"></script>
<script th:src="@{../assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>