<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户登录页面 - Nkuvr Admin</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="layer/mobile/need/layer.css">
</head>
<body style="text-align: center">
<div class="container">
    <h2>请登录</h2>
    <form>
        <label for="username">账号：</label>
        <input type="text" name="username" id="username" placeholder="请输入账号"><br>
        <label for="password">密码：</label>
        <input type="password" name="password" id="password" placeholder="请输入密码"><br>
        <!-- 使用 window.location.href 跳转时，需要加上 javascript:void(0); -->
        <a href="javascript:void(0);" class="btn btn-primary" onclick="return doLogin();">登录</a>
    </form>
</div>
<script src="bootstrap/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="layer/layer.js"></script>
<script>
    function doLogin() {
        // 非空校验
        var username = $("#username").val();
        var password = $("#password").val();
        var loadingIndex = null;
        if (username === "") {
            layer.msg("用户名不能为空，请输入", {time: 1000, icon: 5, shift: 6});
            return;
        }
        if (password === "") {
            layer.msg("密码不能为空，请输入", {time: 1000, icon: 5, shift: 6});
            return;
        }
        // 使用 ajax 提交数据
        $.ajax({
            type: "post",
            url: "doAjaxLogin",
            async: false, // 不加这行：第一次提交表单没什么反应，第二次才成功...
            dataType: "json",
            data: {
                "username": username,
                "password": password
            },
            beforeSend: function () {
                loadingIndex = layer.msg("处理中", {icon: 16});
            },
            success: function (result) {
                layer.close(loadingIndex);
                if (result.success) {
                    layer.msg("登录成功", {time: 1000, icon: 6})
                    window.location.href = "/user/list";
                } else {
                    layer.msg("用户名或密码错误，请重新输入", {time: 1000, icon: 5, shift: 6});
                }
            }
        });
    }
</script>
</body>
</html>