<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nkuvr.dao.AppointmentMapper">

    <resultMap id="BaseResultMap" type="com.nkuvr.pojo.Appointment">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="lid" column="lid"/>
        <result property="activityTime" column="activity_time"/>
        <result property="activityName" column="activity_name"/>
        <result property="appointmentNumber" column="appointment_number"/>
        <result property="principal" column="principal"/>
        <result property="description" column="description"/>
        <result property="consumerDemand" column="consumer_demand"/>
        <result property="deviceDemand" column="device_demand"/>
        <result property="teacher" column="teacher"/>
        <result property="staffContact" column="staff_contact"/>
        <result property="state" column="state"/>
        <result property="speaker" column="speaker"/>
        <result property="staff" column="staff"/>
        <result property="setTime" column="set_time"/>
        <result property="contact" column="contact"/>
        <result property="otherDemand" column="other_demand"/>
        <result property="date" column="date"/>
        <result property="reason" column="reason"/>
        <association property="lab" javaType="com.nkuvr.pojo.Lab">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="galleryful" column="galleryful"/>
        </association>
        <association property="user" javaType="com.nkuvr.pojo.User">
            <id property="id" column="id"/>
            <result property="password" column="password"/>
            <result property="realName" column="real_name"/>
            <result property="studentNumber" column="student_number"/>
            <result property="state" column="state"/>
            <result property="gender" column="gender"/>
            <result property="remark" column="remark"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </association>
    </resultMap>

    <!-- 预约新增 -->
    <insert id="appointmentAdd">
        insert into sys_appointment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id">id,</if>
            <if test="uid">uid,</if>
            <if test="lid">lid,</if>
            <if test="activityTime">activity_time,</if>
            <if test="activityName">activity_name,</if>
            <if test="appointmentNumber">appointment_number,</if>
            <if test="principal">principal,</if>
            <if test="description">description,</if>
            <if test="consumerDemand">consumer_demand,</if>
            <if test="deviceDemand">device_demand,</if>
            <if test="teacher">teacher,</if>
            <if test="staffContact">staff_contact,</if>
            <if test="state">state,</if>
            <if test="speaker">speaker,</if>
            <if test="staff">staff,</if>
            <if test="setTime">set_time,</if>
            <if test="contact">contact,</if>
            <if test="otherDemand">other_demand,</if>
            <if test="date">date,</if>
            <if test="reason">reason</if>

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id">#{id},</if>
            <if test="uid">#{uid},</if>
            <if test="lid">#{lid},</if>
            <if test="activityTime">#{activityTime},</if>
            <if test="activityName">#{activityName},</if>
            <if test="appointmentNumber">#{appointmentNumber},</if>
            <if test="principal">#{principal},</if>
            <if test="description">#{description},</if>
            <if test="consumerDemand != null">#{consumerDemand},</if>
            <if test="deviceDemand != null">#{deviceDemand},</if>
            <if test="teacher">#{teacher},</if>
            <if test="staffContact">#{staffContact},</if>
            <if test="state">#{state},</if>
            <if test="speaker">#{speaker},</if>
            <if test="staff">#{staff},</if>
            <if test="setTime">#{setTime},</if>
            <if test="contact">#{contact},</if>
            <if test="otherDemand != null">#{otherDemand},</if>
            <if test="date">#{date},</if>
            <if test="reason">#{reason}</if>
        </trim>
    </insert>


    <!-- 取消预约 -->
    <update id="appointmentCancelById">
        update sys_appointment set state = 3 where id = #{id}
    </update>

    <!-- 通过预约 -->
    <update id="appointmentPassById">
        update sys_appointment set state = 0 where id = #{id}
    </update>

    <!-- 不通过预约 -->
    <update id="appointmentNoPassById">
        update sys_appointment set state = 1, reason = #{reason} where id = #{id}
    </update>


    <!-- 预约修改 -->
    <update id="appointmentEdit" parameterType="com.nkuvr.pojo.Appointment">
        update sys_appointment
        <trim prefix="set" suffixOverrides=",">
            <if test="lid">lid = #{lid},</if>
            <if test="activityTime">activity_time = #{activityTime},</if>
            <if test="activityName">activity_name = #{activityName},</if>
            <if test="appointmentNumber">appointment_number = #{appointmentNumber},</if>
            <if test="principal">principal = #{principal},</if>
            <if test="description">description = #{description},</if>
            <if test="consumerDemand != null">consumer_demand = #{consumerDemand},</if>
            <if test="deviceDemand != null">device_demand = #{deviceDemand},</if>
            <if test="teacher != null">teacher = #{teacher},</if>
            <if test="staffContact != null">staff_contact = #{staffContact},</if>
            <if test="speaker != null">speaker = #{speaker},</if>
            <if test="staff != null">staff = #{staff},</if>
            <if test="setTime">set_time = #{setTime},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="otherDemand != null">other_demand = #{otherDemand}</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 删除预约 -->
    <delete id="appointmentDeleteById">
        delete from sys_appointment where id = #{id}
    </delete>

    <!-- 根据用户 id 查找预约列表 -->
    <select id="findAppointmentListByUserId" resultType="com.nkuvr.pojo.Appointment" resultMap="BaseResultMap">
        SELECT *
        FROM sys_appointment a
        JOIN sys_lab l ON a.lid = l.id
        JOIN sys_user u ON a.uid = u.id
        WHERE u.id = #{id}
    </select>

    <!-- 查询所有预约 -->
    <select id="findAll" resultType="com.nkuvr.pojo.Appointment" resultMap="BaseResultMap">
        SELECT *
        FROM sys_appointment a
        JOIN sys_lab l ON a.lid = l.id
        JOIN sys_user u ON a.uid = u.id
    </select>

    <!-- 根据预约 id 查询预约情况 -->
    <select id="findAppointmentByAppointmentId" resultType="com.nkuvr.pojo.Appointment" resultMap="BaseResultMap">
        SELECT *
        FROM sys_appointment a
        INNER JOIN sys_lab l ON a.lid = l.id
        WHERE a.id = #{id}
    </select>
</mapper>