<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nkuvr.dao.UserMapper">
    <update id="userEdit">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteUserById">
        delete from sys_user where id = #{id}
    </delete>
    <select id="login" resultType="com.nkuvr.pojo.User">
        select * from sys_user where username = #{username} and password = #{password}
    </select>

    <select id="findAll" resultType="com.nkuvr.pojo.User">
        select * from sys_user
    </select>

    <select id="findUserById" resultType="com.nkuvr.pojo.User">
        select * from sys_user where id = #{id}
    </select>

</mapper>